body {
    background-image: url("../img/bg_dark.png");
}

/* .content a:link,
.content a:visited,
.content a:hover {
    color: black;
} */

nav {
    background-color: #242629;

}
.navbar.responsive {
    background-color: #242629;
}
.teams-menu,
.menu-content {
    background-color: #242629;
}

.content {
    color: white;
    min-height: 100%;
}

.contact {
    margin: 32rem 1% 10rem 8%;
    vertical-align: middle;
    display: inline-block;
    width: 35%;
    font-size: 3rem;

}

.contact a {
    color: #75E4FF;
}


.socials {
    text-align: center;
    vertical-align: middle;
    margin: 38rem 3% 15rem 1%;
    display: inline-block;
    width: 45%;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 5rem;
    font-weight: 400;
}
.socials .rc {
    display: block;
    margin-bottom: 3rem;
}
.socials img {
    width: 8rem;
}
.socials a {
    letter-spacing: 0.3rem;
    font-size: 4rem;
    padding: 4.2rem 1.4rem;
}

.socials img {
    margin-left: -1.5rem;
    
    vertical-align: middle;
}


footer {
    background-color: #242629;

}

@media screen and (max-width: 1270px) {
    .content {
        padding-top: 20rem;
        text-align: center;
    }
    .contact {
        font-size: 2.5rem;
        margin: 10rem 0;
        width: 100%;
    }

    .socials{
        /* font-size: 4rem; */
        margin: 10rem 0;
        width: 100%;
    }

}