body {
    background-color: whitesmoke;
    color: black
}
nav {
    background-color: #151618;
    filter: drop-shadow(0.5rem 0.5rem 3rem black)
}
.news{
    padding-top: 11rem;
    padding-bottom: 10rem;

}
.newsCard {
    display: flex;
    color: black;
    font-size: 1.7rem;
    width: 80%;
    height: 20rem;
    margin: 3% 10%;
    /* display: inline-block; */
    filter: drop-shadow(1.5rem 1.5rem 3rem black)
}
/* .newsCard:hover {
    width: 29%;
    margin: 2% 2% 1.5% 2%;
    font-size: 1.65rem !important;
} */
.newsCard .info{
    min-width: 40rem;
    padding: 2rem;
    flex-grow: 1;
    color: black;
    background-color: whitesmoke;
    margin-left: -0.7rem;
    border-left: 5px solid rgb(177, 81, 25);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.newsCard img{
    margin: 0;
    height: 100%;
    padding: 0;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.newsCard header {
    font-size: 3.5rem;
    font-weight: 500;
}
.newsCard .description {
    color: black;
}
.newsCard .date {
    margin-top: 5rem;
    float: left;
}
.newsCard .button {
    margin-top: 4rem;
    background-color: #151618;
    color: white;
    padding: 1rem 2rem;
    float: right;
    border-radius: 4rem;
}


