@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.5;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: repeat; */
  background-color: #151618;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  height: 100%;
}

.content {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: white;
}

nav a:hover {
  /* animation: fadeIn ease 0.4s; */
  text-decoration: underline !important;
  text-underline-offset: 10px;

}

/*top navigation */
nav {
  height: 80px;
  background-color: #151618;
  font-size: 20px;
  font-weight: lighter;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  text-align: center;
}

.active {
  text-decoration: underline !important;
  text-underline-offset: 10px;
}

nav a {

  font-size: 2rem;
  margin: 2rem;
  /* height: 40px; */

}

nav .current {
  border-bottom: 1px solid currentColor;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.login {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: auto;
  margin-bottom: auto;

}

.whitespace {
  flex-grow: 1;
}

.menu-content {
  display: none;
  position: absolute;
  top: 100px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.70);
  width: 300px;
  z-index: 5;
  line-height: 3.5;
  text-align: left;
  border-radius: 5px;
  animation: fadeIn ease 0.4s;
}

.teams-menu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
  font-size: 1rem !important;
  top: 8rem;
  left: 0;
  background-color: #151618;

  width: 100%;
  z-index: -10;
  text-align: center;
  vertical-align: middle;
  animation: fadeIn ease 0.4s;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.teams-menu .game {
  vertical-align: middle;
  text-align: center;
  display: inline;
  padding: 4rem;
  font-size: 2rem;
}

.game img {
  /* margin-top: 1rem; */
  vertical-align: middle;
  text-align: center;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu-content a {
  padding: 1rem;

}

nav .avatarBtn {
  vertical-align: middle;
  height: 50px;
  margin: auto 2rem;

}

nav .logo {
  margin-top: 15px;
  margin-bottom: auto;
}

hr {
  width: 80%;
  border: 1px solid rgb(122, 122, 122);
  margin: 0 auto;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  /* border: solid 0px white; */
  border-radius: 30px;
}

.profile {
  vertical-align: middle;

}

.profile .avatarDropdown {
  vertical-align: middle;
  margin: auto;
  width: 35px;
  height: 35px;
  /* border: solid 1px white; */
  border-radius: 30px;
  margin-right: 3rem;
  margin-left: 3rem;
}

.icon {
  text-align: center;
  width: 35px;
  height: 35px;
  margin-left: 3rem;
  font-weight: 300;
  font-size: 2rem;
  display: inline-block;
}

.navIcon {
  display: none;
  text-align: center;
  vertical-align: middle;
  margin-right: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}



/* Bacground */




/* Footer */



footer {
  background-color: #151618;
  font-size: 1.5rem;
  color: #d1d1d1;
  font-weight: 300;
  /* position: absolute; */
  /* bottom: 0;
  left: 0; */
  position: relative;
  width: 100%;
  height: 24rem;
  text-align: center;
  display: block;
}

footer #RCFooter {
  vertical-align: top;
}

footer .column {
  padding: 5.0rem 0;
  float: left;
  width: 50%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

footer #c1 {
  font-size: 3.0rem;
}

footer #c1 i {
  padding: 0.8rem;
  font-size: 2.5rem;
}

footer #c2 table {
  margin-left: auto;
  margin-right: auto;
}

footer #c2 table th {
  padding: 1.5rem 2.0rem;
  font-weight: normal;
}

footer #c3 {
  float: left;
  width: 100%;
  padding-bottom: .5rem;
  margin-top: -1rem;
}

.responsive {
  display: block;
}

@media screen and (max-width: 900px) {

  .navbar {
    display: none;
  }

  .navIcon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    top: 80px;
    right: 0;
    position: absolute;
    display: block;
    width: 100%;
    background-color: #151618;
    padding-bottom: 1.5rem;
  }

  .navbar.responsive li {
    position: relative;
    margin: 1rem 2rem;
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .active {
    text-decoration: none;
  }

  .teams-menu {
    position: relative;
    z-index: 20;
    margin-top: -8rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .teams-menu .game {
    padding: 0;
    display: block;
    text-align: left;
    margin: 2rem 2rem;
    font-size: 1.5rem;
  }
}



@media screen and (max-width: 800px) {
  nav a {

    font-size: 3rem;  
  }
  html {
    font-size: 50.0%;
  }

  footer {
    height: 45rem;
  }

  footer .column {
    width: 100%;

  }

  footer #c2 {
    padding: 0 0 5rem 0;
  }

  footer #c3 {
    margin-top: 0;
  }
  .content {
    padding-top: 15rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 40.0%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 38.0%;
  }
}