
nav {
    background-color: rgba(21, 22, 24, 0.40);
}
.TeamBG {
    display: flex;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 46%;
    width: 100%;
}

.main {
    display: flex;
    top: auto;
    align-items: center;
}

#TeamBGESports {
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.25) 100%, rgba(0, 212, 255, 1) 100%), url("../img/rc_lol.png");
    padding-top: 7.9rem;
    height: 92%;
}

#TeamBGPluto {
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.25) 100%, rgba(0, 212, 255, 1) 100%), url("../img/pluto.jpg");
}

#TeamBGSaturn {
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.25) 100%, rgba(0, 212, 255, 1) 100%), url("../img/saturn.jpg");
}

.Teamheader {
    padding: 0;
    width: 50%;
}

.TeamTable {
    width: 50%;
    flex-grow: 1;
    text-align: center;
}

.TeamTable td {
    font-size: 4rem;
    padding: 1rem;
}